{% extends 'base.html.twig' %}

{% block title %}Tournament index{% endblock %}

{% block body %}
<div class="contentBoxSingle">
    <h1>Lista Turniejów</h1>

    <table class="tableList">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Data</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for tournament in tournaments %}
            <tr>
                <td>{{ tournament.name }}</td>
                <td>{{ tournament.date ? tournament.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('scoreboard', {'id': tournament.id}) }}" class="smallButton">Pokaż</a>
                    {% if app.user %}
                        <a href="{{ path('app_tournament_edit', {'id': tournament.id}) }}" class="smallButton">Edytuj</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Brak turniejów</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if app.user %}
        <a href="{{ path('app_tournament_new') }}" class="aButton">Dodaj nowy</a>
    {% endif %}
</div>
{% endblock %}
