{% extends 'base.html.twig' %}

{% block title %}Tournament index{% endblock %}

{% block body %}
    <h1>Lista Turniejów</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Data</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for tournament in tournaments %}
            <tr>
                <td>{{ tournament.name }}</td>
                <td>{{ tournament.date ? tournament.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_tournament_show', {'id': tournament.id}) }}" class="button">Pokaż</a>
                    <a href="{{ path('app_tournament_edit', {'id': tournament.id}) }}" class="button">Edytuj</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Brak turniejów</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tournament_new') }}" class="button">Dodaj nowy</a>
{% endblock %}
