{% extends 'base.html.twig' %}

{% block title %}Wyniki{% endblock %}

{% block stylesheets %} <link rel="stylesheet" href="{{ asset('css/scoreboard.css') }}"> {% endblock %}

{% block cornerMenu %}
    <a href="{{ path('app_tournament_index') }}" class="smallButton">Powrót do listy turniejów</a>
{% endblock %}



{% block adminInfoBox %}
    <ul class="admin-menu-list">
        <button type="button" onclick="window.location.href='{{ path('app_tournament_admin_panel', {'id': tournament.id}) }}'" class="admin-menu-link">Panel Zbiorczy</button>
        <button type="button" onclick="window.location.href='{{ path('app_tournament_mark_score', {'id': tournament.id}) }}'" class="admin-menu-link">Zapisz wynik tarczy</button>
        <li class="show_submenu"> <button type="button"  class="admin-menu-link"> Dodatkowe opcje </button>
            <ul class="submenu hidden">
                <button type="button" onclick="window.location.href=' {{ path('app_tournament_exchange_attempt', {'id': tournament.id}) }}'" class="admin-submenu-link" >Wymień tarczę</button>
                <button type="button" onclick="window.location.href='#'" class="admin-submenu-link">Popraw wynik</button>
                <button type="button" onclick="window.location.href='#'" class="admin-submenu-link">Edytuj zawodnika</button>
                <button type="button" onclick="window.location.href='{{ path('app_category_edit', {'id': tournament.id}) }}'" class="admin-submenu-link">Ustawienia konkurencji</button>
                <button type="button" onclick="window.location.href='#'" class="admin-submenu-link">Podsumowanie Turnieju</button>
            </ul>
        </li>
    </ul>
{% endblock %}



{% block body %}
<div class="contentBoxSingle">
    <h1>{{ tournament.name }}</h1>

        <div class="contentBoxContainer">

        {% for categoryGroup in scoreboard %}
            <div class="singleTable">
                <table class="scoreTable">
                    <thead>
                        <tr>
                            <th>Zawodnik</th>
                            {% for category in categoryGroup %}
                                    {% set limit = category['attempt_limit'] == 0 ? 5 : category['attempt_limit'] %}
                                    <th colspan="{{ limit + 1 }}" >{{ category['name'] }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for competitor in categoryGroup[0]['results'] %} {# Declared index as we want every name to show exactly once per table #}
                            <tr>
                                <td>{{ competitor['competitor_name'] }}</td>
                                {% for category in categoryGroup %}
                                    {% for score in category['results'][competitor['competitor_id']]['scores'] %}
                                         <td class={% if loop.last %} {% if score >= category['third_best_score'] %} "passing-score " {% endif %} "last-player-score" {% else %} "score" {% endif %}>
                                          {{ score }} 
                                          </td>
                                    {% endfor %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        {% endfor %}
    </div>
</div>













{#
<div class="contentBoxSingle">
    <h1>{{ tournament.name }}</h1>
        <div class="contentBoxContainer">
        {% for categories in scoreboard %}
            <div class="singleTable">
                <h3 class="toggle-table" role="button">{{ categories[0]['name'] }}</h3>

                    <table class="scoreTable">
                        <thead>
                            <tr>
                                <th style="width:fit-content; border-right: 2px solid #000000;">Name</th>
                                {% for cat in categories %}
                                    {% set limit = cat.attempt_limit == 0 ? 5 : cat.attempt_limit %}
                                    <th colspan="{{ limit + 1 }}" style="border-right: 2px solid #000000;">{{ cat.name }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for name, scoresByCategory in results %}
                                <tr >
                                    <td style="border-right: 2px solid #000000;">{{ name }}</td>
                                    {% for cat in categories %}
                                        {% set scores = scoresByCategory[cat.id] %}
                                        {% set maxAttempts = (cat.attempt_limit == 0 or cat.attempt_limit > 5) ? 5 : cat.attempt_limit %}
                                        {% for i in 0..maxAttempts %}
                                            <td class="{% if i == maxAttempts %}{{ scores[i] is defined and scores[i] >= cat.third_best_score ? 'passing-score' : 'biggest-player-score' }}{% else %} score{% endif %}">
                                                {{ scores[i] is defined ? scores[i] : '' }}
                                            </td>
                                        {% endfor %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
            <br>
        {% endfor %}
    </div>

</div>
#}

{% endblock %}
